<li><%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-dark" %></li><!--新規登録へのリンク-->
<li><%= link_to "customerログイン", new_customer_session_path, class: "nav-link text-dark" %></li><!--ログイン画面へのリンク-->
<li><%= link_to "Admin", new_admin_session_path, class: "nav-link text-dark" %></li><!--ログイン画面へのリンク-->
